@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.comicImagen {
  background-color: white;
  width: 100%;
  height: 40vh;
  max-height: 600px;
  min-height: 200px;
  object-fit: cover;
  border: double black 6px;
}

body {
  background-color: black;
}

.comic {
  font-family: "Covered By Your Grace";
  background: linear-gradient(
    to bottom right,
    rgb(255, 252, 210),
    rgb(252, 255, 78)
  );
}

.titulo {
  font-family: "Pacifico";
  color: silver;
}
